* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #f5f5f5;
    height: auto;
}

header {
    margin: 0;
    text-align: center;
}

h1 {
    font-size: 3.5rem;
    font-weight: 600;
    margin: 0.5rem 0;
}

main {
    display: flex;
    flex-direction: column;
    background: url(layered-peaks-haikei.svg) no-repeat center center/cover;
    color: white;
    align-items: center;
    margin: 0 auto;
    padding: 0;
    height: 100vh;
    justify-content: center;
    /* filter: brightness(90%); */
    
}

div {
    margin: 0;
    padding: 0;
    text-align: center;

}

div p {
    font-size: 2rem;
    font-weight: 500;
    margin: 0;
    padding: 1rem;
}

button {
    font-size: 1.5rem;
    margin-top: 1rem;
    border-radius: 25px;
    padding: 5px;
    cursor: pointer;
    
}

button:hover {
    transform: scale(1.2);
    filter: brightness(120%);
}

#inspire-button {
    padding: 10px 20px;
    font-size: 18px;
    background-color: #3fa6eb;
    color: white;
    border: none;
    outline:none;
    cursor: pointer;
    /* transition: transform 0.4s ease-out, opacity 0.2s ease-out; */
    letter-spacing: 1px;
    text-transform: capitalize;

}

#inspire-button.clicked {
    transform: scale(2);
    opacity: 0;
}

#expanded-element {
    display: none;
    background-color: darkorange;
    font-size: 1.5rem;
    font-style: italic;
    color: black;
    text-align: center;
    transition: transform 0.4s ease-out;
    transition: opacity 0.4s ease-out;
    padding: 3rem;
    position: fixed;
    width: 80%;
    height: 50vh;
    top: 50%;
    left: 50%;
    border: 1px solid black;
    border-radius: 50px;
    z-index: 1000;
    
}

#expanded-element.visible {
    display: flex;
    flex-direction: column;
    transform: translate(-50%, -50%);
    opacity: 1;
    justify-content: space-evenly;
    width: 650px;

}

#random-quote {
    margin: 0 auto;
    padding: 0 1rem;
}

#random-author {
    margin: 0 auto;
    padding: 0;

}

.hidden {
    display: none;
}

/* footer {
    background-color: #8b2708;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 10px 0;
} */

@media only screen and (min-width: 320px) and (max-width: 475px) {
    main {
        height: 100vh;
    }

    header { 
        padding: 0 0.5rem;
    }
    
    h1 {
        font-size: 2.5rem;
        padding: 0 0.6rem
    }

    div p {
        font-size: 1.5rem;
    }

    #random-quote {
        padding: 0;
    }

    #expanded-element {
        width: 90%;
        height: 50vh;
    }

    #expanded-element.visible {
        width: 90%;
        padding: 1rem;
        height: 50vh;
    }
}

@media only screen and (min-width: 476px) and (max-width: 768px) {
    main {
        height: 100vh;
    }

    header { 
        padding: 0 0.5rem;
    }
    
    h1 {
        font-size: 2.5rem;
        padding: 0 0.6rem;
    }

    div p {
        font-size: 1.5rem;
    }

    #random-quote {
        padding: 0;
    }

    #expanded-element {
        width: 90%;
        height: 50vh;
    }

    #expanded-element.visible {
        width: 90%;
        padding: 1rem;
        height: 50vh;
    }
}

@media only screen and (max-width: 768px) and (orientation: landscape) {
    main {
        height: 100vh;
    }

    header { 
        padding: 0 0.5rem;
    }

    h1 {
        font-size: 2.5rem;
        padding: 0 0.6rem;
    }

    div p {
        font-size: 1.5rem;
    }

    #random-quote {
        padding: 0;
    }

    #expanded-element.visible {
        width: 90%;
        padding: 1rem;
        height: 60vh;
    }

}